<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portfolio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".photo2"></activity>
        <activity android:name=".photo1" />
        <activity android:name=".photos" />
        <activity android:name=".third_book_info" />
        <activity android:name=".third_book" />
        <activity android:name=".second_book_info" />
        <activity android:name=".second_book" />
        <activity android:name=".first_book_info" />
        <activity android:name=".first_book" />
        <activity android:name=".books" />
        <activity android:name=".contact" />
        <activity android:name=".about_me" />
        <activity android:name=".my_CV" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>